.para1{
    border: 3px solid cyan;
    /* margin-top: 60px; */
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 100px;
}

.para2{
    border: 3px solid blue;
    margin-top: 60px;
    margin-left: 40px;
    margin-right: 40px;
}