/*
this is a multiline comment
line 2
*/

body{
    background-image: url('lord-shiva-hd-pictures-wallpaper-divyatattva.in-HD-Wallpaper.jpg');
    background-repeat: no-repeat;
    background-position: top right;
}

li{
    color: brown;
    background-color: aqua;
}