p{
    border: 2px solid red;
}

img{
    border: 3px solid blue;
}

.para1{
    border: 3px dashed violet;
}

.para2{
    border: 2px solid rgb(4, 123, 10);
    border-radius: 70px;
}

.img2{
    border-radius: 50%;
}